<appSettings>
  <add key="MailServer" value="dev-smtp.vidly.com" />
  <add key="FacebookAppId" value="392193518318077" />
  <add key="FacebookAppSecret" value="d1dd1176d21cabdaaf55ccf6a5c9ad3c" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>